@model Curso.Domain.Entities.Banco
@{
    Layout = null;
    ViewBag.Title = "Editar";
}

<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="tituloItem">Alteração de banco</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form name="frmEdita" id="frmEdita" method="post">
            <div class="modal-body">
                <div class="container-fluid pt-3">
                    <input type="hidden" asp-for="CodBanco" name="CodBanco" id="CodBanco" />
                    <input type="hidden" asp-for="DataInclusao" name="DataInclusao" id="DataInclusao" />
                    <div class="row mb-2">
                        <label>
                            Nome Banco:
                        </label>
                        <div class="col-10 text-left">
                            <input type="text" asp-for="NomeBanco" class="form-control" id="NomeBanco" name="NomeBanco">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label>
                            Número Banco:
                        </label>
                        <div class="col-10 text-left">
                            <input type="text" asp-for="NumeroBanco" class="form-control" id="NumeroBanco" name="NumeroBanco">
                        </div>
                    </div>

                    <div class="modal-footer mt-2">
                        <button type="button" class="btn btn-primary" onclick="salvarAlteracao()">Salvar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
